.home-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    width: 100vw;
    overflow-x: hidden;

}

.elements {
    background: hsla(60, 56%, 91%, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
    width: 200px;
    height: 350px;
    padding: 10px;
}

.elements img {
    width: 100px;
    align-self: center;
}

.go-browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.go-browse h3{
    font-size: 36px;
}

.go-browse button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    min-width: 250px;
    height: 70px;
    border-radius: 50px;
    background-color: #8778B7;
    font-size: 24px;
}

.go-browse button:hover{
    background-color: #413467;
    color: #F5F5DC;
    transition: 250ms;
}