.admin-page{
    display: flex;
    width: 100%;
}

.admin-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* gap: 3%; */
}

.admin-grid{
    display: grid;
    grid-template-columns: 0.25fr 1.75fr 2fr 1fr 0.5fr 0.25fr;
    gap: 0.5ex;
    width: 80%;
    height: fit-content;
    border: solid 0.75ex;
    padding: 1ex;
    background-color: #A8B778;
    border-radius: 1em;
}

.admin-items, .admin-titles, .id-col{
    border-radius: 0.75em !important;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.admin-edit-btn{
    font-weight: 600;

}

.admin-titles, .admin-items{
    padding: 0.75ex 2%;
    border: solid 1px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #ffffff;
}

.admin-titles{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    padding: 1ex 0;
}

.blank-col{
    background-color: transparent;
    border: none !important;
    gap: 6%;
}

.admin-items{
    border: solid 1px;
}

.delete-user-btn{
    font-weight: 600;
}

.admin-btn{
    border: solid 1px black !important;
}

.admin-modal-header{
    font-weight: 700;
    font-size: 1.4rem;
}

.admin-modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-select{
    text-align: center;
    justify-content: center;
}

.save-btn{
    background-color: #27be13;
}
