.list-item-cover{
  /* !important porque parece hay conflictos con estilos heredados o Bootstrap */
  max-width: 100% !important;
  width: 8% !important;
  padding: 1ex !important;
}

.cover{
  width: 100% !important;
}

.list-item-title{
  
  font-size: 1.2rem;
  font-weight: 500;
}

.list-item-author{
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
}

.list-item-rating select {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="gray" height="12" viewBox="0 0 20 20" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 0.5rem center;
  background-size: 12px;
  padding-right: 1.5rem;
}

.lecture-date{
  font-size: small;
}

.list-item-edit{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  margin-top: 1ex;
  padding: 0.5ex;
  gap: 1ex;
}