.main-register {
    background-color: #FEFFF9;
    display: flex;
    overflow-x: hidden;
}

.register-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 90vh;
}

.register-text {
    align-self: flex-start;
}

.register-text h2 {
    font-weight: 600;
    font-size: 3em;
}

.register-text p {
    font-size: 1.5em;
    color: #898B87
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.register-button {
    width: 25vw;
    height: 7vh;
    border: none;
    border-radius: 18px;
    font-size: 1em;
    font-weight: 600;
    background-color: #8778B7;
}

form button:hover {
    background-color: #65519c;
    transition: 100ms;
}

.login-text {
    text-align: center;
    margin-top: 5%;
    font-weight: 600;
    line-height: 40%;
}

.register-image {
    display: flex;
    align-items: end;
    width: 50vw;
    height: 90vh;
    background-image: url('./register.jpg');
    right: 0px;
    padding: 2%;
}

.register-image-text {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5%;

    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;
}

.register-image-text h3 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 5%;
}